<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">
        Assley Team
      </a>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Категории</a>
          <div class="navbar-dropdown">
            <a
              *ngFor="let category of categories"
              routerLink="{{ category.url }}"
              class="navbar-item"
              >{{ category.name }}</a
            >
          </div>
        </div>
        <a routeLink="/forum" class="navbar-item">Форум</a>
        <a routeLink="/faq" class="navbar-item">FAQ</a>
        <a routeLink="/contacts" class="navbar-item">Контакты</a>
      </div>

      <ng-template [ngIf]="isAccountLoaded()">
        <div class="navbar-end">
          <ng-template [ngIf]="!isAccountAuth()">
            <a class="navbar-item" routerLink="/login">
              <span class="icon gh-sponsor">
                <fa-icon [icon]="faSignInAlt"></fa-icon>
              </span>
              <span>Войти</span>
            </a>
            <a class="navbar-item" routerLink="/signup">
              <span class="icon gh-sponsor">
                <fa-icon [icon]="faUserPlus"></fa-icon>
              </span>
              <span>Регистрация</span>
            </a>
          </ng-template>
          <ng-template [ngIf]="isAccountAuth()">
            <div
              class="navbar-item has-dropdown is-hoverable"
              id="account-dropdown"
            >
              <a class="navbar-link">{{ email }}</a>
              <div class="navbar-dropdown account-menu-dropdown">
                <a class="navbar-item" routerLink="/profile">
                  <span class="icon gh-sponsor">
                    <fa-icon [icon]="faCog"></fa-icon>
                  </span>
                  <span>Настройки</span>
                </a>
                <div class="sign-menu">
                  <a class="navbar-item" (click)="logout()">
                    <span class="icon gh-sponsor">
                      <fa-icon [icon]="faSignOutAlt"></fa-icon>
                    </span>
                    <span>Выход</span>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
