<h1 class="title has-text-weight-normal is-size-2">Добавить книгу</h1>
<form [formGroup]="bookForm" class="create-book-form">
  <app-progress [processing]="processing" [progress]="progress"></app-progress>
  <div class="field">
    <label class="label">Название</label>
    <div class="control">
      <input
        class="input"
        formControlName="title"
        type="text"
        placeholder="Введите название книги"
      />
    </div>
  </div>

  <div class="field">
    <label class="label">Обложка</label>
    <div class="control">
      <div class="file">
        <label class="file-label">
          <input
            class="file-input"
            type="file"
            name="file"
            (change)="onUploadCover($event)"
          />
          <span class="file-cta">
            <span class="file-icon">
              <fa-icon [icon]="faUpload"></fa-icon>
            </span>
            <span class="file-label"> Загрузить обложку </span>
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Жанры</label>
    <div class="control">
      <ng-select
        [items]="resources.genre"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите жанры"
        (change)="onSelectGenre($event)"
        (search)="onSearchGenre($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Тэги</label>
    <div class="control">
      <ng-select
        [items]="resources.tag"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите тэги"
        (change)="onSelectTag($event)"
        (search)="onSearchTag($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Категории</label>
    <div class="control">
      <ng-select
        [items]="resources.section"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите категории"
        (change)="onSelectSection($event)"
        (search)="onSearchSection($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Художники</label>
    <div class="control">
      <ng-select
        [items]="resources.painter"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите художников"
        (change)="onSelectPainter($event)"
        (search)="onSearchPainter($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Издатели</label>
    <div class="control">
      <ng-select
        [items]="resources.publisher"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите издателей"
        (change)="onSelectPublisher($event)"
        (search)="onSearchPublisher($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Авторы</label>
    <div class="control">
      <ng-select
        [items]="resources.author"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите авторов"
        (change)="onSelectAuthor($event)"
        (search)="onSearchAuthor($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Переводчики</label>
    <div class="control">
      <ng-select
        [items]="resources.translator"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите переводчиков"
        (change)="onSelectTranslator($event)"
        (search)="onSearchTranslator($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Формат выпуска</label>
    <div class="control">
      <ng-select
        [items]="release_format_options"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите формат выпуска"
        (change)="onSelectReleaseFormat($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Возрастные ограничения</label>
    <div class="select">
      <select formControlName="age_limit">
        <option
          *ngFor="let age_limit of enumValues.age_limit"
          [value]="age_limit.value"
        >
          {{ age_limit.label }}
        </option>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label">Статус перевода</label>
    <div class="select">
      <select formControlName="translation_status">
        <option
          *ngFor="let translation_status of enumValues.translation_status"
          [value]="translation_status.value"
        >
          {{ translation_status.label }}
        </option>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label">Год выпуска</label>
    <div class="control">
      <div class="select">
        <select formControlName="release_year">
          <option *ngFor="let year of release_year_list" [value]="year">
            {{ year }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <create-book-episodes
      [episodes]="episodes"
      [addEpisode]="addEpisode.bind(this)"
      [removeEpisode]="removeEpisode.bind(this)"
      [onUploadEpisode]="onUploadEpisode.bind(this)"
      [bookForm]="bookForm"
    ></create-book-episodes>
  </div>

  <div class="field">
    <label class="label">Описание</label>
    <div class="control">
      <textarea
        formControlName="description"
        class="textarea"
        placeholder="Введите описание"
      ></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-success"
        [disabled]="!bookForm.valid"
        (click)="onSubmit()"
      >
        Добавить книгу
      </button>
    </div>
  </div>
</form>
