<h1 class="title has-text-weight-normal is-size-2">Добавить книгу</h1>
<form [formGroup]="bookForm" class="create-book-form">
  <app-progress [processing]="processing" [progress]="progress"></app-progress>
  <div class="field">
    <label class="label">Название</label>
    <div class="control">
      <input
        class="input"
        formControlName="title"
        type="text"
        placeholder="Введите название книги"
      />
    </div>
  </div>

  <div class="field">
    <label class="label">Жанры</label>
    <div class="control">
      <ng-select
        [items]="resources.genre"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите жанры"
        (change)="onSelectGenre($event)"
        (search)="onSearchGenre($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Тэги</label>
    <div class="control">
      <ng-select
        [items]="resources.tag"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите тэги"
        (change)="onSelectTag($event)"
        (search)="onSearchTag($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Категории</label>
    <div class="control">
      <ng-select
        [items]="resources.section"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите категории"
        (change)="onSelectSection($event)"
        (search)="onSearchSection($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Художники</label>
    <div class="control">
      <ng-select
        [items]="resources.painter"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите художников"
        (change)="onSelectPainter($event)"
        (search)="onSearchPainter($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Издатели</label>
    <div class="control">
      <ng-select
        [items]="resources.publisher"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите издателей"
        (change)="onSelectPublisher($event)"
        (search)="onSearchPublisher($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Авторы</label>
    <div class="control">
      <ng-select
        [items]="resources.author"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите авторов"
        (change)="onSelectAuthor($event)"
        (search)="onSearchAuthor($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Переводчики</label>
    <div class="control">
      <ng-select
        [items]="resources.translator"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        bindLabel="name"
        placeholder="Выберите переводчиков"
        (change)="onSelectTranslator($event)"
        (search)="onSearchTranslator($event)"
      >
      </ng-select>
    </div>
  </div>

  <div class="field">
    <create-book-episodes
      [episodes]="episodes"
      [addEpisode]="addEpisode.bind(this)"
      [removeEpisode]="removeEpisode.bind(this)"
      [onUploadEpisode]="onUploadEpisode.bind(this)"
      [bookForm]="bookForm"
    ></create-book-episodes>
  </div>

  <div class="field">
    <label class="label">Описание</label>
    <div class="control">
      <textarea
        formControlName="description"
        class="textarea"
        placeholder="Введите описание"
      ></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success" (click)="onSubmit()">
        Добавить книгу
      </button>
    </div>
  </div>
</form>
