<div class="table-wrapper">
  <app-processing [processing]="processing"></app-processing>
  <h1 class="title has-text-weight-normal is-size-2">{{ title }}</h1>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <td *ngFor="let field of fields">
          {{ field.label }}
        </td>
        <td>Действия</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td *ngFor="let field of fields">
          {{ item[field.name] }}
        </td>

        <td>
          <div class="buttons">
            <a class="button is-small is-danger" (click)="remove(item.id)"
              ><span>Удалить</span
              ><span class="icon is-small">
                <fa-icon [icon]="faTimes"></fa-icon> </span
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="fields.length + 1">
          <div class="buttons">
            <button disabled class="button is-info">
              Добавить
            </button>
          </div>
          <app-pagination
            [page]="page"
            [pages]="pages"
            [setPage]="setPage.bind(this)"
          ></app-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
