<div class="dev card">
  <div class="card-content">
    <div class="buttons">
      <a class="button is-small is-info" (click)="generate('books')"
        >generate books</a
      >
      <a class="button is-small is-info" (click)="generate('genres')"
        >generate genres</a
      >
      <a class="button is-small is-info" (click)="generate('tags')"
        >generate tags</a
      >
      <a class="button is-small is-info" (click)="generate('sections')"
        >generate sections</a
      >
      <a class="button is-small is-success" (click)="loadDatabase()"
        >load database</a
      >
      <a class="button is-small is-danger" (click)="clearDatabase()"
        >clear database</a
      >
      <a class="button is-small is-primary" (click)="test()">test</a>
    </div>
  </div>
</div>
