<div class="section">
  <div class="container">
    <h1 class="is-title is-size-2">Книги</h1>
  </div>
  <div class="container">
    <div class="columns is-multi">
      <div class="column is-3" *ngFor="let book of books">
        <div class="card">
          <a class="card-image" routerLink="/books/{{ book.id }}">
            <figure class="image is-4by3">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </a>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ book.title }}</p>
                <p class="subtitle is-6">Автор</p>
              </div>
            </div>

            <div class="content">
              {{ book.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
