<div class="section">
  <div class="container">
    <h1 class="is-title is-size-2">Книги</h1>
  </div>

  <div class="container">
    <app-processing [processing]="processing"></app-processing>
    <book-filters
      [load]="this.load.bind(this)"
      [setFilters]="this.setFilters.bind(this)"
    ></book-filters>

    <div class="columns is-multiline">
      <div
        class="column is-12-mobile is-6-tablet is-4-desktop is-3-fullhd"
        *ngFor="let book of items"
      >
        <div class="card">
          <a class="card-image" routerLink="/books/{{ book.id }}">
            <figure class="image is-4by3 book-cover">
              <img
                src="{{ publicUrl }}/{{ book.cover_image }}"
                alt="Placeholder image"
                class="book-cover-image"
              />
            </figure>
          </a>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ limitText(book.rus_title, 30) }}</p>
              </div>
            </div>

            <div class="content">
              {{ limitText(book.description, 70) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-pagination
      [page]="page"
      [pages]="pages"
      [setPage]="setPage.bind(this)"
    ></app-pagination>
  </div>
</div>
