<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4-tablet is-4-desktop is-4-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Имя</label>
              <div class="control has-icons-left">
                <input
                  #first_name
                  type="text"
                  placeholder="Alexey"
                  class="input"
                  required
                  [ngClass]="{ 'is-danger': errors.first_name }"
                  (input)="errors.first_name = ''"
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>

            <div class="field">
              <label for="" class="label">Фамилия</label>
              <div class="control has-icons-left">
                <input
                  #last_name
                  type="text"
                  placeholder="Popov"
                  class="input"
                  required
                  [ngClass]="{ 'is-danger': errors.last_name }"
                  (input)="errors.last_name = ''"
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>

            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input
                  #email
                  type="email"
                  placeholder="e.g. bobsmith@gmail.com"
                  class="input"
                  (input)="errors.email = ''"
                  (blur)="validateEmail(email.value)"
                  [ngClass]="{ 'is-danger': errors.email }"
                  required
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>
              <ng-template [ngIf]="errors.email">
                <p class="help is-danger">{{ errors.email }}</p>
              </ng-template>
            </div>

            <div class="field">
              <label for="" class="label">Пароль</label>
              <div class="control has-icons-left">
                <input
                  type="password"
                  placeholder="*******"
                  class="input"
                  required
                  [ngClass]="{ 'is-danger': errors.password }"
                  #password
                  (input)="errors.password = ''"
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="accept" class="checkbox">
                <input
                  type="checkbox"
                  id="accept"
                  #accept
                  (input)="errors.accept = ''"
                />
                Принимаю пользовательское соглашение
              </label>
              <ng-template [ngIf]="errors.accept">
                <p class="help is-danger">{{ errors.accept }}</p>
              </ng-template>
            </div>
            <div class="field">
              <button
                (click)="
                  submit({
                    first_name: first_name.value,
                    last_name: last_name.value,
                    email: email.value,
                    password: password.value,
                    accept: accept.checked
                  })
                "
                class="button is-success"
              >
                Зарегистрироваться
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
