<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4-tablet is-4-desktop is-4-widescreen">
          <form
            action=""
            class="box"
            [formGroup]="signupForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="field">
              <label for="" class="label">Nickname</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  formControlName="nickname"
                  type="text"
                  placeholder="Alexey"
                  class="input"
                  [ngClass]="{
                    'is-danger':
                      controls.nickname.touched && controls.nickname.errors,
                    'is-success':
                      controls.nickname.touched && !controls.nickname.errors
                  }"
                />

                <span
                  *ngIf="controls.nickname.touched && !controls.nickname.errors"
                  class="icon is-small is-right"
                >
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>

                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
              <p
                *ngIf="controls.nickname.errors && controls.nickname.touched"
                class="help is-danger"
              >
                {{ controls.nickname.errors.message }}
              </p>
            </div>

            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  type="email"
                  formControlName="email"
                  placeholder="e.g. bobsmith@gmail.com"
                  class="input"
                  [ngClass]="{
                    'is-danger':
                      controls.email.touched && controls.email.errors,
                    'is-success':
                      controls.email.touched && !controls.email.errors
                  }"
                  required
                />

                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>

                <span
                  *ngIf="controls.email.touched && !controls.email.errors"
                  class="icon is-small is-right"
                >
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </div>
              <p
                *ngIf="controls.email.errors && controls.email.touched"
                class="help is-danger"
              >
                {{ controls.email.errors.message }}
              </p>
            </div>

            <div class="field">
              <label for="" class="label">Пароль (не менее 8 символов)</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  type="password"
                  placeholder="*******"
                  formControlName="password"
                  class="input"
                  required
                  [ngClass]="{
                    'is-danger':
                      controls.password.touched && controls.password.errors,
                    'is-success':
                      controls.password.touched && !controls.password.errors
                  }"
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
                <span
                  *ngIf="controls.password.touched && !controls.password.errors"
                  class="icon is-small is-right"
                >
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="accept" class="checkbox">
                <input type="checkbox" id="accept" formControlName="accept" />
                Принимаю пользовательское соглашение
              </label>
              <ng-template [ngIf]="errors.accept">
                <p class="help is-danger">{{ errors.accept }}</p>
              </ng-template>
            </div>
            <div class="field">
              <button class="button is-success" [disabled]="!signupForm.valid">
                Зарегистрироваться
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
