<div class="table-wrapper">
  <app-processing [processing]="processing"></app-processing>
  <h1 class="title has-text-weight-normal is-size-2">Книги</h1>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <td>id</td>
        <td>Название</td>
        <td>Действия</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>
          <a
            class="button is-small is-link"
            routerLink="/admin/books/{{ item.id }}/update"
            ><span>Редактировать</span
            ><span class="icon is-small">
              <fa-icon [icon]="faPen"></fa-icon>
            </span>
          </a>
          <a class="button is-small is-danger" (click)="remove(item.id)"
            ><span>Удалить</span
            ><span class="icon is-small">
              <fa-icon [icon]="faTimes"></fa-icon> </span
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="3">
          <app-pagination
            [page]="page"
            [pages]="pages"
            [setPage]="setPage.bind(this)"
          ></app-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
