<section class="section">
  <div class="container">
    <h1 class="title">
      {{ book.title }}
    </h1>
  </div>
</section>
<section>
  <div class="container">
    <div *ngFor="let season of book.seasons">
      <h2 class="is-size-3">Том {{ season.name }}</h2>
      <div *ngFor="let episode of season.episodes">
        <h3 class="is-size-4">{{ episode.name }}</h3>
        <div class="pages">
          <img *ngFor="let page of episode.pages" [src]="page" />
        </div>
      </div>
    </div>
  </div>
</section>
