<section>
  <ng-template [ngIf]="loaded">
    <div class="columns is-centered read-navigation">
      <div class="column-is-1">
        <a routerLink="/" class="home-link navbar-item"> Assley Team </a>
      </div>
      <div class="column is-3">
        <div class="field is-grouped">
          <div class="select">
            <select
              [(ngModel)]="read.episode"
              (change)="onSelectEpisode($event)"
            >
              <option *ngFor="let episode of episodes" [ngValue]="episode">
                {{ episode.number }} - {{ episode.name }}
              </option>
            </select>
          </div>

          <div class="select">
            <select (change)="onSelectPage($event)" [(ngModel)]="read.page">
              <option
                *ngFor="let page of pages; let pageIndex = index"
                [value]="pageIndex + 1"
              >
                Страница - {{ pageIndex + 1 }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="read-container">
      <img
        src="{{ this.publicUrl }}/{{ pageImg }}"
        class="read-image"
        (click)="nextPage()"
      />
    </div>
  </ng-template>
</section>
