<aside class="menu">
  <p class="menu-label">Управление книгами</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/admin/books">Книги</a>
    </li>
    <li>
      <a>Параметры</a>
      <ul>
        <li><a routerLink="/admin/genres">Жанры</a></li>
        <li><a routerLink="/admin/tags">Тэги</a></li>
        <li><a routerLink="/admin/sections">Категории</a></li>
        <li><a routerLink="/admin/translators">Переводчики</a></li>
        <li><a routerLink="/admin/authors">Авторы</a></li>
        <li><a routerLink="/admin/painters">Художники</a></li>
        <li><a routerLink="/admin/publishers">Издатели</a></li>
      </ul>
    </li>
  </ul>
</aside>
