<aside class="menu">
  <p class="menu-label">Управление книгами</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/admin/books" routerLinkActive="is-active">Книги</a>
    </li>
    <li>
      <a>Параметры</a>
      <ul>
        <li>
          <a routerLink="/admin/genres" routerLinkActive="is-active">Жанры</a>
        </li>
        <li>
          <a routerLink="/admin/tags" routerLinkActive="is-active">Тэги</a>
        </li>
        <li>
          <a routerLink="/admin/sections" routerLinkActive="is-active"
            >Категории</a
          >
        </li>
        <li>
          <a routerLink="/admin/translators" routerLinkActive="is-active"
            >Переводчики</a
          >
        </li>
        <li>
          <a routerLink="/admin/authors" routerLinkActive="is-active">Авторы</a>
        </li>
        <li>
          <a routerLink="/admin/painters" routerLinkActive="is-active"
            >Художники</a
          >
        </li>
        <li>
          <a routerLink="/admin/publishers" routerLinkActive="is-active"
            >Издатели</a
          >
        </li>
      </ul>
    </li>
  </ul>
</aside>
