<aside class="menu">
  <p class="menu-label">Управление книгами</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/admin/books">Книги</a>
    </li>
    <li>
      <a>Параметры</a>
      <ul>
        <li><a routerLink="/admin/genres">Жанры</a></li>
        <li><a routerLink="/admin/tags">Тэги</a></li>
        <li><a routerLink="/admin/sections">Категории</a></li>
      </ul>
    </li>
  </ul>
  <p class="menu-label">Пользователи</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/admin/users">Пользователи</a>
    </li>
  </ul>
  <p class="menu-label">Дополнительно</p>
  <ul class="menu-list">
    <li><a>Настройки</a></li>
    <li><a>Настройки</a></li>
    <li><a>Настройки</a></li>
  </ul>
</aside>
