<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form
            action=""
            class="box"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="field">
              <label for="" class="label">Nickname или email</label>
              <div class="control has-icons-left">
                <input
                  type="text"
                  placeholder="Введите nickname или email"
                  class="input"
                  [ngClass]="{
                    'is-danger': controls.email.touched && controls.email.errors
                  }"
                  required
                  formControlName="email"
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>

              <p
                *ngIf="controls.email.errors && controls.email.touched"
                class="help is-danger"
              >
                {{ controls.email.errors.message }}
              </p>
            </div>

            <div class="field">
              <label for="" class="label">Пароль</label>
              <div class="control has-icons-left">
                <input
                  type="password"
                  placeholder="*******"
                  class="input"
                  required
                  formControlName="password"
                  [ngClass]="{
                    'is-danger':
                      controls.password.touched && controls.password.errors
                  }"
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
              <p
                *ngIf="controls.password.errors && controls.password.touched"
                class="help is-danger"
              >
                {{ controls.password.errors.message }}
              </p>
            </div>
            <div class="field">
              <button class="button is-success" [disabled]="!loginForm.valid">
                Войти
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
