<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input
                  type="email"
                  placeholder="e.g. bobsmith@gmail.com"
                  class="input"
                  [ngClass]="{ 'is-danger': errors.email }"
                  (input)="errors.email = ''"
                  required
                  #email
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>
              <ng-template [ngIf]="errors.email">
                <p class="help is-danger">{{ errors.email }}</p>
              </ng-template>
            </div>
            <div class="field">
              <label for="" class="label">Пароль</label>
              <div class="control has-icons-left">
                <input
                  type="password"
                  placeholder="*******"
                  class="input"
                  required
                  [ngClass]="{ 'is-danger': errors.password }"
                  (input)="errors.password = ''"
                  #password
                />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
              <ng-template [ngIf]="errors.password">
                <p class="help is-danger">{{ errors.password }}</p>
              </ng-template>
            </div>
            <div class="field">
              <button
                (click)="
                  submit({ email: email.value, password: password.value })
                "
                class="button is-success"
              >
                Войти
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
